@import "base/typography";

.test1 {
  @media (min-width: 1768px) {
    font-size: 10px;
  }
}

.test2 {
  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 10px;
  }
}

.test3 {
  @media (min-width: 768px) {
    font-size: 30px;
  }
}
