/*!
   ####    #####    #####     ####     ###    #####    #######  ######
  ##  ##  ##   ##  ##   ##   ##  ##   ## ##   ##  ##   ##       ##   ##
 ##       ##       ##       ##       ##   ##  ##   ##  ##       ##   ##
 ##        #####    #####   ##       ##   ##  ##   ##  #####    ######
 ##            ##       ##  ##       ##   ##  ##   ##  ##       ## ##
  ##  ##  ##   ##  ##   ##   ##  ##   ## ##   ##  ##   ##       ##  ##
   ####    #####    #####     ####     ###    #####    #######  ##   ##
https://csscoder.pro/
*/

@import "common/variable";
@import "common/mixins/mixin";
@import "common/silent-grid/silent-grid";
@import "common/typograph";
@import "common/common";
@import "common/ui/ui";

@lost flexbox flex;

//***************************************
/* Base  */
///***********************************************/
.l-html,
.l-body {
  height: 100%;
}

.l-body {
  background-color: $colorWhite;
  font-family: $fontBody;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
}

.l-page {
  overflow: hidden;
  min-height: 100%;
}

///* include modules */
///***********************************************/
//@import "../blocks/_blank/blank";

